<div class="single-question">
<h2 class="question-display-name"><%= question.display_name %></h2>
<p class="small"><%= question.name %></p>
<% case question.question_type %>
<% when 'single_choice' %>
<% question.answers.each do |answer| %>
  <p>
    <%= radio_button_tag question.id, answer.id %>
    <%= answer.name %>
  </p>
<% end %>
<% when 'multiple_choice' %>
<% question.answers.each do |answer| %>
  <p>
    <%= check_box_tag question.id, answer.id %>
    <%= answer.name %>
  </p>
<% end %>
<% when 'long_answer' %>
<%= text_area_tag question.id %>
<% when 'number_select' %>
<%= select_tag question.id, options_for_select(1..5), class: "form-control half" %>
<% end %>
</div>