<div class='nested-fields'>
  <div class='form-group'>
    <%= question_type %>
    <%= form.input :name %>
    <%# <%= form.hidden_field :_destroy %>
    <%# <%= form.text_field :name, placeholder: 'Answer' %>
    <p>
      <%= link_to "Remove Answer", "#", data: { action: "click->nested-form#remove_association" }, class: "btn btn-danger btn-sm" %>
    </p>
  </div>
</div>
