<%= simple_form_for [@prompt_template, @prompt] do |form| %>
  <%= form.fields_for :answers, prompt.answers.new do |answer_response| %>
    <% @prompt_template.template_questions.each do |template_question| %>
      <h2>
        <%= template_question.display_name %>
      </h2>
      <p>question_type: <%= template_question.question_type %>template_question.template_answers <%= template_question.template_answers.count %></p>
      <% template_question.template_answers.each do |template_answer| %>
        <%= render 'answer_fields', template_answer: template_answer, answer_response: answer_response, template_question: template_question %>
      <% end %>
    <% end %>
    <hr>
    <div data-controller="nested-form" data-nested-form-index-value='DOC_RECORD'>
      <template data-nested-form-target='template'>
        <%= form.fields_for :docs, prompt.docs.new, child_index: 'DOC_RECORD' do |doc| %>
          <%= render 'doc_fields', form: doc %>
        <% end %>
      </template>
      <div data-nested-form-target="add_item">
        <%= link_to "Add Doc", "#", data: { action: "nested-form#add_association" }, class: "btn btn-success" if @prompt.image_request? %>
      </div>
    </div>
  <% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<% prompt.answers.each do |answer| %>
  <p><%= answer.name %></p>
<% end %>
